*{
    font-family: Limerick-Serial;
}

.navbar a{
    color: white;
    font-size: 20px;
}

.dropdown-item a{
    color: black;
}

.nav-link a:hover{
    color: blue;

}

.dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
    color: #0c3c53;
  }

  #btnRound{
    border-radius: 40px;
    --bs-btn-padding-y: .01rem; 
    --bs-btn-padding-x: .9rem; 

  }




#section{
    background-color: #37517e;
    width: 100%;
    height: 70vh;
}


#gettinButton{
    color: aliceblue;
    border-radius: 40px;
    --bs-btn-padding-y: .01rem; 
    --bs-btn-padding-x: .9rem; 
    --bs-btn-font-size: 20px;
}
#watchVid{
   font-size: 25px; 
   color: white;

}

#watchVid:hover{
    color:blue;
}


  img.vert-move {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}

/* new */

#section2{
    background-color: #f3f5fa;
    width: 100%;
}

#images2{
    max-width: 50%;
    filter: grayscale(100%);
    margin: 15px;
}

/* new */

#listcheckli li{
    list-style-image: url(/right-arrow.svg);
    /* OR */
    list-style-type: '👉';
    padding-inline-start: 1ch;
  }

  #btn3{
    --bs-btn-padding-y: .50rem; 
    --bs-btn-padding-x: 30px; 
    float: left;
  }

  /* new */
  
  #section3{
    background-color: #f3f5fa;
    width: 100%;
}

